    </main>
    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <div class="container-fluid pt mx-0 px-0">
        <footer class="d-flex flex-wrap justify-content-center pt-2 py-5 px- my-0 mx-0" id="footer">
        <div class="mx-3 px-3 pt-1" style="opacity: 50%;">
            <span class='px-2' style="font-size: x-small;">© 2023</span>
            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" style="color: rgb(40, 40, 40);" class="mb-1 ms-0 bi bi-chat-fill" viewBox="0 0 16 16">
                <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z"/>
            </svg> -->
            <svg class="bi" width="1" height="1"><use xlink:href="#bootstrap"></use></svg>
            <span class="ms-0 fs-5" id="blogger" style="color: rgb(40, 40, 40);">{ } logger</span>
        </div class="col-md-4">
      
          <ul class="nav col-md-4 justify-content-center pt-1" style="opacity: 75%;">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="/post" class="nav-link px-2 text-body-secondary">Post</a></li>
            <li class="nav-item"><a href="/logs" class="nav-link px-2 text-body-secondary">Logs</a></li>
            <li class="nav-item"><a href="/about" class="nav-link px-2 text-body-secondary">About</a></li>
          </ul>
        </footer>
      </div>
</body>

</html>